table.gridtable {
	margin-top: 20px;
	margin:auto;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	height: 40px;
	border-width: 1px;
	padding: 2px 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 2px 5px;
	border-style: solid;
	border-color: #666666;
}