{% extends "main.html.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="resource/character_sheet/style.css" />
{% endblock %}


{% block body %}
<div id="card">
	<div id="name">
	</div>
	<div id="user">
	</div>
	<div id="race">
	</div>
	<div id="appearance">
	</div>
	<div id="archetype">
	</div>
	<div id="exp">
	</div>
	<div id="attributes">
		<div id="skills" >
		</div>
	</div>
	<div id="edges">
	</div>
	<div id="hindrances">
	</div>
	<div id="powers">
	</div>
</div>
{% endblock %}